<a href="https://colab.research.google.com/github/Bheem548/jntua-python/blob/master/Day_10(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Loops**
* While loop
* for loop

#Print numbers from 1 to n

In [0]:
n= int(input("Enter a number n:"))
i=1
while(i<=n):
      print(i,end=" ")
      i=i+1

Enter a number n:10
1 2 3 4 5 6 7 8 9 10

#**Print sum of even numbers**

In [0]:
n= int(input("Enter n :"))
i=1
sum=0
while(i<=n):
      if(i%2==0):
          sum=sum+i
          print(i,end="+")
      
      i=i+1

print("=",sum)

Enter n :10
2+4+6+8+10+= 30

#**Palindrome**

In [0]:
n=int(input("Enter n value :"))
t=n
rev=0
while(n!=0):
      rem=n%10
      rev=rev*10 + rem
      n=n//10
print(rev)
if(t==rev):
      print(t,"is a palindrome")
else:
      print(t,"is not a palindrome")

Enter n value :12321
12321
12321 is a palindrome

#**Functional Programing**
 - simple
 -easy to understand
 - reusability
 - Lengthy program can be divided into small sub programs

In [0]:
def nameofthefunction(<parameter>):
    statements
    return

In [0]:
#Print sum of even digits
#input:1234
#output:2+4=6
def sumofevendigits(n):
  s=0
  while(n!=0):
    r=n%10
    if(r%2==0):
      s=s+r
    n=n//10
  return s
sumofevendigits(1234)

6

In [40]:
#to find largset digit in a number

def largestdigit(n):
  r1=0
  while(n!=0):
    r=n%10
    if(r>r1):
      r1=r 
    else:
      n=n//10
  return r1
n=int(input("Enter a number:"))
largestdigit(n)

Enter a number:1234567890

9

#**For loop**
# Syntax:
## for in range(start,stop,step)
      statements

In [44]:
#Using function print the numbers in limits
#input 11 and 25
#output 11 12 ... 25

def printinrange(f,l):
  for i in range(f,l+1):
    print(i,end=" ")
  return
printinrange(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [53]:
#input:500,520
#output:500,504,508....520

def limits(f,l):
  for i in range(f,l+1,4):
      print(i,end=" ")
  return 
limits(500,520)

500 504 508 512 516 520

#**Collection Types**
- List
- Tuple
-Dictionary

#List

---


- One of data structure in python
-Data structure makes to store,sort and search options
-it is one common data structure in python the items of the list are seperated by comma and enclosed by square brackets
-List is mutable(i.e values can change)
-Ex: list1=[1,2,3,4,5],list=["JNTUA","Das","asds"]

In [69]:
li=[1,2,3,5,6,8]
print(li)
print(li[1])
print(li[-1])
print(li[2:])
print(li[:2])
print(li[3:5])
print(li[-4:-1])
print(li[::2])

[1, 2, 3, 5, 6, 8]
2
8
[3, 5, 6, 8]
[1, 2]
[5, 6]
[3, 5, 6]
[1, 3, 6]

In [74]:
li=["JNTUA",8,"ATP",5,4]
print(li)
li[1]=88
print(li)

#deleteing list item

del li[4]
print(li)

#Basic list operations

print(li*2)

print(5 in li)

['JNTUA', 8, 'ATP', 5, 4]
['JNTUA', 88, 'ATP', 5, 4]
['JNTUA', 88, 'ATP', 5]
['JNTUA', 88, 'ATP', 5, 'JNTUA', 88, 'ATP', 5]
True

#**List Functions**

- max
-min
-sum
-append
-insert
-count
-index
-sort
-pop

In [84]:
li=[1,2,3,4,5,6]
print(max(li))
print(min(li))
print(sum(li))

6
1

TypeError: ignored